@import "bower_components/flex-ui-bootstrap/bootstrap";
@import "bower_components/bem/scss/bem";

@include b(form) {

	@include e(group) {
		display: block;

		@include m(addon) {
			position: relative;
		}
	}

	@include e(addon) {
		position: absolute;
		line-height: 28px;
		color: #b0b0b0;
		left: 10px;
	}

	@include e(control) {
		border: 1px solid #cecece;
		background-color: #f1f1f1;
		box-sizing: border-box;
		line-height: 28px;
		color: #353535;
	}

	@include e(search) {
		padding: 0 15px 0 35px;
		width: 200px;
	}

	@include m(inverse) {
		@include e(control) {
			border: 1px solid #1e272e;
			background-color: #141b22;
			color: #d0d0d0;
		}
	}
}