@import "../../bower_components/flex-ui-bootstrap/bootstrap";
@import "../../bower_components/bem/scss/bem";

@include b(form) {

	@include e(group) {
		display: block;

		@include m(addon) {
			position: relative;
		}
	}

	@include e(addon) {
		color: darken($color-light, 30%);
		position: absolute;
		line-height: 28px;
		left: 10px;
	}

	@include e(control) {
		border: 1px solid darken($color-light, 20%);
		background-color: darken($color-light, 10%);
		color: darken($color-light, 30%);
		box-sizing: border-box;
		line-height: 28px;
	}

	@include e(search) {
		padding: 0 15px 0 35px;
		width: 200px;
	}

	@include m(inverse) {
		@include e(control) {
			background-color: lighten($color-inverse, 5%);
			border: 1px solid darken($color-inverse, 5%);
			color: $color-light;
		}
	}
}